header{
    height: 60px;
    background-color: rgb(10, 232, 132);
    display: flex;
    align-items: center;
} 

.barbearia-nav-content{
    display: flex;
    align-items: right;
    justify-content: space-between;
    color: rgb(152, 18, 164);
}

.barbearia-nav-content h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

.barbearia-contact-container{
    display: flex;
    align-items: center;
}

.barbearia-contact-link{
    margin: 0 0 0 10px;
    font-size: 12px;
}

